<connectionStrings>
  <clear />
  <!--<add name="iThinkingUserCenterConnection" connectionString="Data Source=(local);Initial Catalog=BIDCUserCenter;Integrated Security=False;User ID=sa;Password=sa" providerName="System.Data.SqlClient" />-->

  <add name="iThinkingUserCenterConnection" connectionString="Data Source=10.10.3.13;Initial Catalog=BIDCUserCenter;Integrated Security=False;User ID=sa;Password=bidc@2017" providerName="System.Data.SqlClient" />
  <!--<add name="iThinkingUserCenterConnection" connectionString="Data Source=10.10.3.16;Initial Catalog=BIDCUserCenter;Integrated Security=False;User ID=sa;Password=bidc@2015" providerName="System.Data.SqlClient" />-->
</connectionStrings>