@{
    string application_Version = System.Configuration.ConfigurationManager.AppSettings["Application_Version"];
}

<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> @application_Version
    </div>
    <strong>Copyright &copy; 2019 <a href="https://www.bidc.com.kh" target="_blank">BIDC</a>.</strong> All rights
    reserved.
</footer>